---
import Schedule from "./Schedule.astro";
import ScheduleDay from "./ScheduleDay.astro";
import ScheduleSection from "./ScheduleSection.astro";
import ScheduleItem from "./ScheduleItem.astro";
import OrganizeOwnActivity from "./OrganizeOwnActivity.astro";
import BottomNote from "./BottomNote.astro";
---

<Schedule logo>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>
            <ScheduleItem>
                <span slot="header">Pre-registration</span>
                <span slot="attendees">optional</span>
                <span slot="time">11:00–14:00</span>
                <Fragment slot="activities">
                    <p>In town already?<br/>Get your badge early!</p>
                    <BottomNote>
                        <a href="/events/pre-registration">Details</a>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">TBD, Utrecht, NL</span>

            <ScheduleItem>
                <span slot="header">Workshops<br /><br /></span>
                <span slot="attendees">100 attendees</span>
                <span slot="time">12:00–17:00</span>
                <Fragment slot="activities">
                    <p>7 workshops in total</p>
                    <p><a href="/events/workshops">See details</a></p>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Conference day 1</span>
                <span slot="attendees">800 attendees</span>
                <span slot="time">08:30–19:00</span>
                <Fragment slot="activities">
                    <p style="width: 80%;margin-left: auto;margin-right: auto;">3 tracks: Main, Ecosystem & Industry</p>
                    <BottomNote>
                        <a href="/schedule/tuesday">Talk schedule</a></p>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Conference day 2</span>
                <span slot="attendees">800 attendees</span>
                <span slot="time">08:30–19:00</span>
                <Fragment slot="activities">
                    <p style="width: 75%;margin-left: auto;margin-right: auto;">3 tracks: Main, Deep Dive & Rust Project</p>
                    <BottomNote>
                        <a href="/schedule/wednesday">Talk schedule</a>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">TBD, Utrecht, NL</span>

            <ScheduleItem>
                <span slot="header">Hackathon</span>
                <span slot="attendees">200 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>Collaborative coding</p>
                    <BottomNote>
                        <a href="/events/hackathon">See details</a>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Rust All-Hands & Unconference</span>
                <span slot="attendees">250 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <BottomNote>Invitation only</BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Social activities</span>
                <span slot="attendees">in small groups</span>
                <span slot="time">10:00–22:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <OrganizeOwnActivity />
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Rust All-Hands & Unconference</span>
                <span slot="attendees">250 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <BottomNote>Invitation only</BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Social activities</span>
                <span slot="attendees">in small groups</span>
                <span slot="time">10:00–22:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <OrganizeOwnActivity />
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Rust All-Hands & Unconference</span>
                <span slot="attendees">250 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <BottomNote>Invitation only</BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <!--div slot="extra" class="extra">
        <p>Join our discord to discuss social activities and find others before the event</p>
        <a href="https://discord.gg/9ezhugbhAM" target="_blank" class="button button-primary">Join Discord</a>
    </div-->
    <div slot="extra" class="extra">
        <p>
            Grab your <strong>early bird ticket</strong> for the conference now!
          </p>
        <a href="https://event.onliveevent.nl/rustweek-2026" class="button button-primary">Get your ticket</a>
    </div>
</Schedule>

<style>
.align-end {
    margin-top: auto !important;
}

.extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

</style>
