---
const { name } = Astro.props;
---

<div class="sponsors-tiers space-y-3">
    <h3 class="font-display">{name}</h3>

    <div class="sponsors-row">
        <slot />
    </div>
</div>

<style lang="scss">
    @use "../../styles/variables.scss";

    h3 {
        font-size: variables.$font-size-lg;
        text-align: center;
        color: variables.$color-red-500;
    }

    .sponsors-row {
        display: flex;
        flex-wrap: wrap;
        gap: variables.space(6);
        justify-content: center;
    }
</style>
