---
import HomeLayout from "../layouts/HomeLayout.astro";

// import Person from "../components/people/Person.astro";
// import Sponsor from "../components/sponsor/sponsor.astro";
// import SponsorTier from "../components/sponsor/sponsor-tier.astro";

import Button from "../components/Button.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
// import { useTalks } from "../components/useTalks";
//
//
// const talks = await Astro.glob('./talks/*.md');
// const {alice, julius, pietro, alex, niko, miguel, ciara, raph} = useTalks(talks);
// const featured_talks = [alice, julius, pietro, alex, niko, miguel, ciara, raph];
---

<HomeLayout>
    
    <div slot="explainer">
        <h2 class="font-display" id="explainer">RustWeek 2026</h2    >
        <p>
            Rust Week will be back in 2026! Block your calendars now from the 18nd of may to the 22nd!
        </p>
    </div>

    <div slot="about" class="space-y-12">
        <div>
            <h2 id="about">About RustWeek</h2>
            <p>
                RustWeek is organised by Stichting Rust Nederland, RustNL for short,
                a non-profit that strives to promote the implementation of the Rust
                programming language.
            </p>
        </div>
        <ButtonGroup>
            <Button link="/about">More About Us</Button>
        </ButtonGroup>
    </div>
</HomeLayout>
