---
import HomeLayout from "../layouts/HomeLayout.astro";

// import Person from "../components/people/Person.astro";
// import Sponsor from "../components/sponsor/sponsor.astro";
// import SponsorTier from "../components/sponsor/sponsor-tier.astro";

import Button from "../components/Button.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Image from "../components/Image.astro";
import Person from "src/components/people/Person.astro";
import PeopleList from "src/components/people/PeopleList.astro";
// import { useTalks } from "../components/useTalks";
//
//
// const talks = await Astro.glob('./talks/*.md');
// const {alice, julius, pietro, alex, niko, miguel, ciara, raph} = useTalks(talks);
// const featured_talks = [alice, julius, pietro, alex, niko, miguel, ciara, raph];

const people = Array.from({ length: 9 }, (_, i) => i + 1);
---

<HomeLayout>
    
    <div slot="explainer">
        <h2 id="explainer">RustWeek 2026</h2    >
        <p>
            Rust Week will be back in 2026! Block your calendars now from the 18nd of may to the 22nd!
        </p>
    </div>

    <div slot="about" class="space-y-12">
        <div>
            <h2 id="about">About RustWeek</h2>
            <p>
                RustWeek is organised by Stichting Rust Nederland, RustNL for short,
                a non-profit that strives to promote the implementation of the Rust
                programming language.
            </p>
        </div>
        <ButtonGroup>
            <Button link="/about">More About Us</Button>
        </ButtonGroup>
    </div>
    <Image src="https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg" alt="RustWeek 2026 Banner" />
        <PeopleList title="title" lead="lead">
            <Person
                name="Erik Jonkers"
                image="erik.jpg"
                title="Board member of the RustNL foundation and Director of Open Source of software agency Tweede golf."
                tracks={["organisation"]}
                smalltile
            />
            <Person
                name="Laura Pircalaboiu"
                image="laura.png"
                title="Embedded software engineer at Q*Bird"
                tracks={["organisation"]}
                smalltile
            />
            <Person
                name="Jana Dönszelmann"
                image="jana.png"
                title="Lecturer in Embedded Systems at Delft University of Technology and founder of Hexcat"
                tracks={["organisation"]}
                smalltile
            />
            <Person
                name="Terts Diepraam"
                image="terts.png"
                title="Maintainer on Uutils and Software Engineer at NLnet Labs"
                tracks={["organisation", "mc"]}
                smalltile
            />
            <Person
                name="Mara Bos"
                image="mara.jpg"
                title="Rust leadership council and founder of Hexcat"
                tracks={["organisation", "mc"]}
                smalltile
            />
        </PeopleList>
</HomeLayout>
