---
interface Props {
  style?: "page" | "home";
}

const { style = "page" }: Props = Astro.props;
const slides = Array.from({ length: 9 }, (_, i) => i + 1);
---

<section class:list={["hero", style]}>
  <div class="container grid cols-12">
    <div class="col-5 space-y-8">
      <div>
        <h1 class="font-display">RustWeek 2026</h1>
        <h2>May 18-23 — Utrecht, NL</h2>
      </div>
      <p>
        The week features two days of talks, a day of workshops, a hackathon,
        ongoing social events, an unconference.
      </p>
      <div class="button-group cutout cutout-button-group">
        <a class="button button-primary">Tickets</a>
        <a class="button button-secondary">Schedule</a>
      </div>
    </div>
    <div class="col-7">
      <div class="slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            {
              slides.map((n) => (
                <div class="swiper-slide">
                  <img src={`/images/slider/${n}.jpg`} alt={`Slide ${n}`} />
                </div>
              ))
            }
          </div>
          <div class="swiper-navigation-next"></div>
          <div class="swiper-navigation-prev"></div>
        </div>
      </div>
    </div>
    <div class="ferris"></div>
  </div>
</section>

<script>
  import "swiper/css";
  import Swiper from "swiper";
  import { Autoplay, Keyboard, Navigation } from "swiper/modules";

  const swiper = new Swiper(".swiper", {
    loop: true,
    modules: [Autoplay, Keyboard, Navigation],
    navigation: {
        nextEl: '.swiper-navigation-next',
        prevEl: '.swiper-navigation-prev'
    },
    keyboard: true,
    autoplay: {
      delay: 5000,
    },
  });
</script>

<style lang="scss">
  @use "../../styles/breakpoint.scss";
  @use "../../styles/variables.scss";

  @keyframes look {
    0% {
        translate: -50% 50%;
    }

    50% {
        translate: -50% 25%;
    }

    0% {
        translate: -50% 50%;
    }
  }

  .hero {
    align-items: center;
    background-color: variables.$color-yellow-400;
    display: flex;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: clip;
  }

  .slider {
    position: relative;
  }

  .slider::after {
    content: "";
    position: absolute;
    inset: -5%;
    background-image: url("/svg/hero-cutout.svg");
    background-size: 100% 100%;
    pointer-events: none;
  }

  .swiper {
    aspect-ratio: 4 / 3;
    background-color: black;
    border-radius: 50% 0 50% 0;
    position: relative;
    z-index: 1;
  }

  .swiper-slide {
    position: relative;
  }

  .swiper-slide > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .ferris {
    animation-name: look;
    animation-duration: 10000ms;
    animation-delay: 2000ms;
    animation-iteration-count: infinite;
    aspect-ratio: 1;
    background-image: url("/images/ferris.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: 0;
    left: 50%;
    max-width: 34rem;
    position: absolute;
    translate: -50% 50%;
    width: 100%;
    z-index: 1;
  }

  .swiper-navigation-next,
  .swiper-navigation-prev {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: variables.space(12);
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: white;
    z-index: 2;
  }

  .swiper-navigation-next {
    right: variables.space(6);
  }

  .swiper-navigation-prev {
    left: variables.space(6);
  }
</style>
