---
interface Props {
  style?: "page" | "home";
}

const { style = "page" }: Props = Astro.props;
---

<section class:list={["hero", style]}>
  <div class="container grid cols-12">
    <div class="col-5 space-y-8">
      <div>
        <h1>RustWeek 2026</h1>
        <h2>May 18-23 — Utrecht, NL</h2>
      </div>
      <p>
        The week features two days of talks, a day of workshops, a hackathon,
        ongoing social events, an unconference.
      </p>
      <div class="button-group">
        <div class="buttons">test</div>
      </div>
    </div>
    <div class="col-7">
      <div class="slider-container">
        <div class="slider">1</div>
      </div>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  @use "../../styles/breakpoint.scss";
  @use "../../styles/variables.scss";

  .hero.home {
    align-items: center;
    background-color: variables.$color-yellow-400;
    display: flex;
    min-height: calc(100dvh - variables.space(20));
  }

  .hero.home .slider-container {
    position: relative;
  }

  .hero.home .slider-container::after {
    content: "";
    position: absolute;
    inset: -5%;
    background-image: url('/svg/hero-cutout.svg');
    background-size: 100% 100%;
  }

  .hero.home .slider {
    aspect-ratio: 4 / 3;
    background-color: black;
    border-radius: 50% 0 50% 0;
    position: relative;
    z-index: 1;
  }
</style>
