---
interface Props {
  style?: "page" | "home";
}

const { style = "page" }: Props = Astro.props;
---

<section class:list={["hero", style]}>
  <div class="container grid cols-12">
    <div class="col-5 space-y-8">
      <div>
        <h1 class="font-display">RustWeek 2026</h1>
        <h2>May 18-23 — Utrecht, NL</h2>
      </div>
      <p>
        The week features two days of talks, a day of workshops, a hackathon,
        ongoing social events, an unconference.
      </p>
      <div class="button-group cut-out">
        <a class="button button-primary">Tickets</a>
        <a class="button button-secondary">Schedule</a>
      </div>
    </div>
    <div class="col-7">
      <div class="slider">
        <div class="swiper"></div>
      </div>
    </div>
    <div class="ferris"></div>
  </div>
</section>

<style lang="scss" is:global>
  @use "../../styles/breakpoint.scss";
  @use "../../styles/variables.scss";

  .hero.home {
    align-items: center;
    background-color: variables.$color-yellow-400;
    display: flex;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: clip;
  }

  .hero.home .slider {
    position: relative;
  }

  .hero.home .slider::after {
    content: "";
    position: absolute;
    inset: -5%;
    background-image: url("/svg/hero-cutout.svg");
    background-size: 100% 100%;
  }

  .hero.home .swiper {
    aspect-ratio: 4 / 3;
    background-color: black;
    border-radius: 50% 0 50% 0;
    position: relative;
    z-index: 1;
  }

  .hero.home .ferris {
    aspect-ratio: 1;
    background-image: url("/images/ferris.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: 0;
    left: 50%;
    max-width: 34rem;
    position: absolute;
    translate: -50% 25%;
    width: 100%;
    z-index: 1;
  }
</style>
