---
import Location from "../components/Location.astro";
import Button from "../components/Button.astro";

import CommonLayout from "./CommonLayout.astro";

import "../styles/index.scss";
---

<CommonLayout title="Industry track" header="Industry track" withLogo>
    <Fragment slot="hero">
        <p class="industry-track-anouncement">
            May 19, 2025
            <br /> Utrecht, The Netherlands
        </p>

        <Button link="#tickets">Get Industry Track ticket</Button>
    </Fragment>

    <Fragment>
        <section class="md:grid md:cols-12 pb-12 about-industry">
            <div
                class="about-text md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
            >
                <slot name="about-industry" />
            </div>
        </section>

        <Location />

        <section
            class="py-24 space-y-12 track-schedule"
            id="schedule"
        >
            <div class="space-y-12 md:grid md:cols-2 md:space-y-0">
                <!--div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12"-->
                <div class="markdown schedule-description">
                    <h3 class="schedule-header">Industry Track schedule</h3>

                    <p><b>Inspiring Talks</b><br/>Last year's speaker lineup included ecosystem leader Niko Matsakis, co-lead of the Rust language design team, and Rust pioneer Julius Gustavsson from Volvo Cars. The 2026 morning program will be open to anyone with a valid <b>RustWeek ticket</b>.</p>

                    <p><b>Expert Tables and Networking</b><br/>This year adds Facilitated Networking to the Expert Table Sessions, because getting to know your peers who are pursuing the same goals, is at least as useful as learning what to do. To attend the Expert Tables and Networking in the afternoon, please make sure to buy the <b>add-on "Industry Track Expert Tables participation"</b> when you register for RustWeek.</p> 

                    <p>Expert Table topics:</p>
                        <ul>
                            <li>How to plan your Rust migration</li>
                            <li>Hiring and training</li>
                            <li>Using Rust in existing projects</li>
                            <li>Safety Critical Rust</li>
                            <li>Embedded Rust</li>
                        </ul>
                    </p>
                </div>
                <slot name="timetable-day" />
            </div>
        </section>

        <section
            class="md:grid md:cols-12 py-12 tickets"
            id="tickets">
        
            <div
                class="tickets-text md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
            >
                <slot name="tickets" />
            </div>
        </section>
        <section class="py-6 space-y-6">
            <div
                class="space-y-12 md:grid md:cols-2 md:space-y-0"
                style="justify-content: center;"
            >
            </div>
        </section>
        <section class="py-24 space-y-6 speakers">
            <h3 class="speakers-header">Last year's speakers and experts</h3>
            <div class="grid md:cols-2 xl:cols-4" id="speakers">
                <slot name="speakers" />
            </div>
            <slot name="speakers-tba" />
        </section>

        <section class="sponsors" id="sponsors">
            <h3 class="track-partners-header">Last year's track partners</h3>
            <slot name="sponsors" />
        </section>
    </Fragment>
</CommonLayout>

<style lang="scss">
@use "../styles/variables.scss";

.track-schedule:after, .speakers:before, .sponsors:before {
  margin-top: 30px;
  min-height: 15px;
  background-image: url(/images/stripes.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  display: block;
  height: var(--space-6);
  position: relative;
  margin: var(--space-12) 0;
}

.tickets-text {
    text-align: center;
}

.schedule-header, 
.speakers-header,
.track-partners-header {
    font-size: variables.$font-size-xl;
    margin-block: 0;
}

.speakers-header,
.track-partners-header {
    text-align: center;
}

.speakers-header, .track-partners-header {
    margin-top: 100px;
}
</style>
